.App{
  background-color: #3f3160;
  min-height:500px;
  width: 600px;
  margin: 40px auto;
}

#form input{
  font-weight: bold;
  border: 0; 
  width: 300px;
  height: 40px;
  margin: 20px;
  margin-top: 50px;
  margin-left: 80px;
  padding: 0 20px;
  font-size: 18px;
}
#form input:focus{
  outline: none;
}
#form button{
  font-weight: bold;
  height: 40px;
  width: 100px;
  border: 0; 
  cursor: pointer;
}
#form button:focus{
  outline: none;
}